.text-gray{
    color: #B1B1B1;
}

.bg-slider {
    background-image: url('../img/slider.png');
    height: 100vh;
    background-size: cover;
}

.bg-footer {
    background-image: url('../img/image-footer.png');
    background-size: cover;
    height: 55vh;
}

.bg-blue {
    background-color: #121637;
}

.bg-blue-light {
    background-color: #4182E8;
}


@media (width < 528px) {
    .bg-footer {
        height: 115vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#menu {
    display: none;
}

   /* Estilos adicionales */
   #menu-button {
    cursor: pointer;
}
#menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff; /* Fondo blanco o el color que prefieras */
    z-index: 50; /* Asegúrate de que el menú se superponga correctamente */
}
@media (min-width: 640px) {
    #menu {
        position: static;
        background-color: transparent;
    }
}